<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>dubki</string>
		<key>title</key>
		<string>Дубки</string>
		<key>description</key>
		<string>Общежитие (Одинцово)</string>
		<key>station</key>
		<string>odincovo</string>
		<key>subway</key>
		<string>--</string>
		<key>onfoot</key>
		<integer>0</integer>
		<key>mapsrc</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>aeroport</string>
		<key>title</key>
		<string>Кочновский проезд</string>
		<key>description</key>
		<string>метро Аэропорт</string>
		<key>station</key>
		<string>belorusskaya</string>
		<key>subway</key>
		<string>aeroport</string>
		<key>onfoot</key>
		<integer>14</integer>
		<key>mapsrc</key>
		<string>9kfYmO7lbg2o_YuSTvZqiY9rCevo23cs</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>strogino</string>
		<key>title</key>
		<string>Строгино</string>
		<key>description</key>
		<string>метро Строгино</string>
		<key>station</key>
		<string>kuncevo</string>
		<key>subway</key>
		<string>strogino</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>pMeBRyKZjz3PnQn4HCZKIlagbMIv2Bxp</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>myasnitskaya</string>
		<key>title</key>
		<string>Мясницкая</string>
		<key>description</key>
		<string>метро Лубянка</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>lubyanka</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>GGWd7qLfRklaR5KSQQpKFOiJT8RPFGO-</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>vavilova</string>
		<key>title</key>
		<string>Вавилова</string>
		<key>description</key>
		<string>метро Ленинский проспект</string>
		<key>station</key>
		<string>kuncevo</string>
		<key>subway</key>
		<string>leninskiy_prospekt</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>_Cz-NprpRRfD15AECXvyxGQb5N7RY3xC</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>izmailovo</string>
		<key>title</key>
		<string>Кирпичная улица</string>
		<key>description</key>
		<string>метро Семёновская</string>
		<key>station</key>
		<string>kuncevo</string>
		<key>subway</key>
		<string>semenovskaya</string>
		<key>onfoot</key>
		<integer>16</integer>
		<key>mapsrc</key>
		<string>tTSwzei04UwodpOe5ThQSKwo47ZiR8aO</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>tekstilshiki</string>
		<key>title</key>
		<string>Текстильщики</string>
		<key>description</key>
		<string>метро Текстильщики</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>tekstilshiki</string>
		<key>onfoot</key>
		<integer>10</integer>
		<key>mapsrc</key>
		<string>IcVLk9vNC1afHy5ge05Ae07wahHXZZ7H</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>st_basmannaya</string>
		<key>title</key>
		<string>Старая Басманная</string>
		<key>description</key>
		<string>метро Курская</string>
		<key>station</key>
		<string>kuncevo</string>
		<key>subway</key>
		<string>kurskaya</string>
		<key>onfoot</key>
		<integer>16</integer>
		<key>mapsrc</key>
		<string>LwunOFh66TXk8NyRAgKpsssV0Gdy34pG</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>shabolovskaya</string>
		<key>title</key>
		<string>Шаболовская</string>
		<key>description</key>
		<string>метро Шаболовская</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>shabolovskaya</string>
		<key>onfoot</key>
		<integer>4</integer>
		<key>mapsrc</key>
		<string>0enMIqcJ_dLy8ShEHN34Lu-4XBAHsrno</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>petrovka</string>
		<key>title</key>
		<string>Петровка</string>
		<key>description</key>
		<string>метро Кузнецкий мост</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>kuznetskiy_most</string>
		<key>onfoot</key>
		<integer>6</integer>
		<key>mapsrc</key>
		<string>pSiE6gI2ftRfAGBDauSW0G0H2o9R726u</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>paveletskaya</string>
		<key>title</key>
		<string>Малая Пионерская</string>
		<key>description</key>
		<string>метро Павелецкая</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>paveletskaya</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>1SimW8pYfuzER0tbTEYFs1RFaNUFnhh-</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>ilyinka</string>
		<key>title</key>
		<string>Ильинка</string>
		<key>description</key>
		<string>метро Китай-город</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>china-town</string>
		<key>onfoot</key>
		<integer>7</integer>
		<key>mapsrc</key>
		<string>7UEkPE7kT0Bhb4rOzDbk2O57LdWBE8Lq</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>trehsvyat_b</string>
		<key>title</key>
		<string>Большой Трёхсвятительский переулок</string>
		<key>description</key>
		<string>метро Китай-город</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>china-town</string>
		<key>onfoot</key>
		<integer>13</integer>
		<key>mapsrc</key>
		<string>_WWkurGGUbabsiPE9xgdLP_iJ61vbJrZ</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>trehsvyat_m</string>
		<key>title</key>
		<string>Малый Трёхсвятительский переулок</string>
		<key>description</key>
		<string>метро Китай-город</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>china-town</string>
		<key>onfoot</key>
		<integer>15</integer>
		<key>mapsrc</key>
		<string>jBGwqmV8V-JjFzbG2M_13sGlAUVqug-9</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>hitra</string>
		<key>title</key>
		<string>Хитровский переулок</string>
		<key>description</key>
		<string>метро Китай-город</string>
		<key>station</key>
		<string>begovaya</string>
		<key>subway</key>
		<string>china-town</string>
		<key>onfoot</key>
		<integer>13</integer>
		<key>mapsrc</key>
		<string>j1cHqL5k2jw_MK31dlBLEwPPPmj72NNg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>gnezdo</string>
		<key>title</key>
		<string>Малый Гнездниковский переулок</string>
		<key>description</key>
		<string>метро Тверская</string>
		<key>station</key>
		<string>belorusskaya</string>
		<key>subway</key>
		<string>tverskaya</string>
		<key>onfoot</key>
		<integer>5</integer>
		<key>mapsrc</key>
		<string>_a_UjKz_rMbmf2l_mWtsRUjlaqlRySIS</string>
	</dict>
</array>
</plist>
